.header-color {
    background: grey;
    background: -webkit-linear-gradient(to right, black ,grey);
    background: linear-gradient(to right, black, grey);
}
.landing-grid {
    background: grey;
    background: -webkit-linear-gradient(to right, black,grey);
    background: linear-gradient(to right, black,grey);
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100% ; 
}

.landing-img {
    height: 250px;
    padding-top: 5em;
    border-radius: 100%;
}
.banner-text {
  background-color: black; 
  opacity: .8; 
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold; 
  color: antiquewhite;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: antiquewhite;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: antiquewhite;
  font-size: 5em;
  padding: 8px;
}

.AboutMe {
  text-align: center;
}
.AboutMe img {
  margin-top: 1rem;
}
.about-banner {
  background-color: black; 
  opacity: .8; 
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: antiquewhite;
  padding: .75em;
  margin-top: 1em;
}
.about-banner p {
  font-size: 1.5em;
}

.skills-Banner {
  background-color: black; 
  opacity: .8; 
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.skills-Banner h1 {
  font-size: 66px;
  font-weight: bold; 
  color: antiquewhite;
  text-align: center;
}
.Skills-Banner hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.skills-list {
  color: antiquewhite;
  font-size: 20px;
  padding: 1em;
  flex-direction: column;
}
.grad1-img {
    height: 250px;
    border-radius: 100%;
    margin-bottom: 5px;
}
.contactinfo {
  display: flex;
  flex-direction: column;
}

.contactinfo > div {
  display: flex;
  flex-direction: row;
}

.contactinfo > div img {
  width: 3.5rem;
  height: 3.5rem;
}

.contactinfo div p {
  padding: .75em;
}

.contact-banner {
  background-color: black; 
  opacity: .8; 
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: antiquewhite;
  padding: 1.5em;
  margin-top: 3em;
}

.contact-banner h1 {
  text-align: center;
}
