.header-color {
    background: grey;
    background: -webkit-linear-gradient(to right, black,grey);
    background: linear-gradient(to right, black,grey);
}
.landing-grid {
    background: grey;
    background: -webkit-linear-gradient(to right, black,grey);
    background: linear-gradient(to right, black,grey);
}

.landingimg {
    height: 250px;
    padding-top: 5em;
}
.banner-text {
  background-color: black; 
  opacity: .8; 
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold; 
  color: antiquewhite;
}